@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: 'Share Tech Mono', monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.text-stroke {
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.text-stroke-2 {
  -webkit-text-stroke: 2px black;
}

.card-bg {
  background: url('/cardwallpaper.gif');
  background-size: cover;
}

/* MOBILE */
@keyframes expand {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100vw;
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    width: 100vw;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

/* DESKTOP */
@media (min-width: 768px) {
  @keyframes expand {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 60vw;
      opacity: 1;
    }
  }

  @keyframes shrink {
    from {
      width: 60vw;
      opacity: 1;
    }
    to {
      width: 0;
      opacity: 0;
    }
  }
}


.animate-expand {
  animation: expand 0.4s ease forwards;
}

.animate-shrink {
  animation: shrink 0.4s ease forwards;
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing steps(var(--chars), end) 2.5s forwards, blink-caret 0.75s step-end infinite;
}

.typing-text.done {
  border-right: none;
  animation: typing 2.5s steps(40, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}